In [1]:
import anndata
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
# Downloaded from the GSE accession at: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE279945
# !wget "https://ftp.ncbi.nlm.nih.gov/geo/series/GSE279nnn/GSE279945/suppl/GSE279945%5Fsc%5Fcounts%5Fprocessed.h5ad" -O op3_processed.h5ad

AnnData object with n_obs × n_vars = 298087 × 21265
    obs: 'dose_uM', 'timepoint_hr', 'well', 'row', 'col', 'plate_name', 'cell_id', 'cell_type', 'split', 'donor_id', 'sm_name', 'control', 'SMILES', 'sm_lincs_id', 'library_id', 'leiden_res1', 'group', 'cell_type_orig', 'plate_well_celltype_reannotated', 'cell_count_by_well_celltype', 'cell_count_by_plate_well'
    var: 'highly_variable', 'means', 'dispersions', 'dispersions_norm'
    uns: 'cell_type_colors', 'celltypist_celltype_colors', 'donor_id_colors', 'hvg', 'leiden_res1_colors', 'log1p', 'neighbors', 'over_clustering', 'rank_genes_groups'
    obsm: 'HTO_clr', 'X_pca', 'X_umap', 'protein_counts'
    obsp: 'connectivities', 'distances'

In [ ]:
op3_dataset = anndata.read_h5ad('op3_processed.h5ad')
op3_dataset

#### important note, there can be issues in the original split

In [3]:
op3_dataset[op3_dataset.obs['SMILES'] == 'COc1cc2c(c(OC)c1OC)-c1ccc(OC)c(=O)cc1[C@@H](NC(C)=O)CC2'].obs['split'].value_counts()

split
train          802
public_test    411
Name: count, dtype: int64

In [4]:
op3_dataset[
    (op3_dataset.obs['SMILES'] == 'COc1cc2c(c(OC)c1OC)-c1ccc(OC)c(=O)cc1[C@@H](NC(C)=O)CC2') & 
    (op3_dataset.obs['split'] == 'public_test')
].obs['cell_type'].value_counts()

cell_type
Myeloid cells    261
B cells          147
T cells            2
NK cells           1
Name: count, dtype: int64

##### C[S+](C)[O-] is negative control (basically no perturabtion at all, so it is the control in our benchmark)
the other two (belinostat, dabrafenib) are positive controls — known to induce large transcriptomic response
"The dose of belinostat is 0.1µM, DMSO 14.1µM, and the rest of the compounds 1µM" (from the op3 paper)

In [5]:
op3_dataset[op3_dataset.obs['control']].obs['SMILES'].unique()

['O=C(/C=C/c1cccc(S(=O)(=O)Nc2ccccc2)c1)NO', 'CC(C)(C)c1nc(-c2cccc(NS(=O)(=O)c3c(F)cccc3F)c..., 'C[S+](C)[O-]']
Categories (3, object): ['O=C(/C=C/c1cccc(S(=O)(=O)Nc2ccccc2)c1)NO', 'CC(C)(C)c1nc(-c2cccc(NS(=O)(=O)c3c(F)cccc3F)c..., 'C[S+](C)[O-]']

In [6]:
smile_to_ct = {}
for smile in op3_dataset.obs['SMILES'].unique():
    data_subset = op3_dataset[(op3_dataset.obs['SMILES'] == smile)&(op3_dataset.obs['split'] == 'train')]
    smile_to_ct[smile] = data_subset.obs['cell_type'].unique()

In [7]:
np.array([len(v) for k, v in smile_to_ct.items()])

array([0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 3,
       2, 2, 2, 4, 2, 2, 2, 2, 2, 3, 2, 2, 3, 4, 2, 3, 2, 2, 2, 2, 2, 2,
       4, 2, 3, 2, 2, 2, 2, 3, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 4, 3, 3, 2,
       2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 3, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 4, 3, 2, 4, 2, 2,
       2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2])

In [8]:
list(smile_to_ct)[:3]

['O=C(/C=C/c1cccc(S(=O)(=O)Nc2ccccc2)c1)NO',
 'CC(C)(C)c1nc(-c2cccc(NS(=O)(=O)c3c(F)cccc3F)c2F)c(-c2ccnc(N)n2)s1',
 'C[S+](C)[O-]']

In [9]:
len(smile_to_ct)

144

##### 15 compounds of transfer cell types (B and Myeloids cells) are in the train split

In [10]:
(np.array([len(v) for k, v in smile_to_ct.items()]) == 4).sum()

15

In [11]:
len(op3_dataset[op3_dataset.obs['split'] == 'public_test'].obs['SMILES'].unique())

50

In [12]:
len(op3_dataset[op3_dataset.obs['split'] == 'private_test'].obs['SMILES'].unique())

78

In [13]:
# no overlap of compounds between public test and private test
set(op3_dataset[op3_dataset.obs['split'] == 'public_test'].obs['SMILES'].unique()).intersection(
    set(op3_dataset[op3_dataset.obs['split'] == 'private_test'].obs['SMILES'].unique())
)

set()

In [14]:
# two overlapping compounds between train and public test
set(op3_dataset[op3_dataset.obs['split'] == 'public_test'].obs['SMILES'].unique()).intersection(
    [k for k, v in smile_to_ct.items() if len(v) == 4]
)

{'C[C@@H]1O[C@@H](O[C@@H]2C=C3CC[C@@H]4[C@H](CC[C@]5(C)[C@@H](c6ccc(=O)oc6)CC[C@]45O)[C@@]3(C)CC2)[C@H](O)[C@H](O)[C@H]1O',
 'Nc1ncnc2c1c(I)cn2[C@@H]1O[C@H](CO)[C@@H](O)[C@H]1O'}

In [15]:
# no overlapping between train and private test
set(op3_dataset[op3_dataset.obs['split'] == 'private_test'].obs['SMILES'].unique()).intersection(
    [k for k, v in smile_to_ct.items() if len(v) == 4]
)

set()

In [16]:
# so, for the held-out cell types that are B abd Meyloids, there are 15 compounds in train, 50 in val, 78 in test
# minus the 2 overlap, and plus 3 in the controls, we get the right number which is 144 for all unique compounds in the dataset
15 + 50 + 78 - 2 + 3

144

#### note that public test and private test also have cell types in T and NK

In [17]:
op3_dataset[op3_dataset.obs['split'] == 'train'].obs['cell_type'].value_counts()

cell_type
T cells          136693
NK cells          15302
B cells            3058
Myeloid cells      2502
Name: count, dtype: int64

In [18]:
op3_dataset[op3_dataset.obs['split'] == 'public_test'].obs['cell_type'].value_counts()

cell_type
B cells          12118
Myeloid cells    11202
T cells            411
NK cells             5
Name: count, dtype: int64

In [19]:
op3_dataset[op3_dataset.obs['split'] == 'private_test'].obs['cell_type'].value_counts()

cell_type
B cells          18713
Myeloid cells    18634
T cells            603
NK cells             6
Name: count, dtype: int64

In [20]:
op3_dataset.obs['cell_type'].unique()

['B cells', 'T cells', 'Myeloid cells', 'NK cells']
Categories (4, object): ['B cells', 'Myeloid cells', 'NK cells', 'T cells']

##### create splits

In [21]:
op3_split = pd.Series('none', index=op3_dataset.obs_names)

# first, use existing split of the op3 dataset
op3_split[op3_dataset.obs['split'] == 'train'] = 'train'
op3_split[op3_dataset.obs['split'] == 'public_test'] = 'val'
op3_split[op3_dataset.obs['split'] == 'private_test'] = 'test'

# second, on positive control cells, all assigned to train (I assume positive controls are not meaningful for evaluation)
op3_split[(op3_dataset.obs['split'] == 'control') & (op3_dataset.obs['SMILES'] != 'C[S+](C)[O-]')] = 'train'

# next, on negative control cells, split 50/25/25 to train, val and test
for cell_type in op3_dataset.obs['cell_type'].unique():
    
    control_cells = op3_dataset[(op3_dataset.obs['SMILES'] == 'C[S+](C)[O-]') & (op3_dataset.obs['cell_type'] == cell_type)].obs_names
    
    # using code from frangieh split
    train_control_cells, heldout_control_cells = train_test_split(
        control_cells, 
        test_size=0.5, 
        random_state=11
    )
    val_control_cells, test_control_cells = train_test_split(
        heldout_control_cells, 
        test_size=0.5, 
        random_state=21
    )
    op3_split.loc[train_control_cells] = 'train'
    op3_split.loc[val_control_cells] = 'val'
    op3_split.loc[test_control_cells] = 'test'

op3_split.value_counts()

train    222168
test      45070
val       30849
Name: count, dtype: int64

In [22]:
op3_split[(op3_dataset.obs['SMILES'] == 'C[S+](C)[O-]') & (op3_dataset.obs['cell_type'] == 'T cells')].value_counts()

train    8432
test     4216
val      4216
Name: count, dtype: int64

In [23]:
op3_split[(op3_dataset.obs['SMILES'] == 'C[S+](C)[O-]') & (op3_dataset.obs['cell_type'] == 'NK cells')].value_counts()

train    978
test     490
val      489
Name: count, dtype: int64

In [24]:
op3_split[(op3_dataset.obs['SMILES'] == 'C[S+](C)[O-]') & (op3_dataset.obs['cell_type'] == 'B cells')].value_counts()

train    2198
val      1099
test     1099
Name: count, dtype: int64

In [25]:
op3_split[(op3_dataset.obs['SMILES'] == 'C[S+](C)[O-]') & (op3_dataset.obs['cell_type'] == 'Myeloid cells')].value_counts()

train    2617
test     1309
val      1309
Name: count, dtype: int64

#### there are some bad apples! throwing aways chemical+cell_type in val/test sets that have too few cells

In [26]:
counts=[]

for smile in op3_dataset[op3_split == 'val'].obs['SMILES'].unique():
    
    val_subset = op3_dataset[(op3_split == 'val') & (op3_dataset.obs['SMILES'] == smile)]
    ct_counts = val_subset.obs['cell_type'].value_counts()

    if any(ct_counts < 100):  # too few cells in this drug+cell_type group
        print(smile)
        print(ct_counts)
        print('='*20)
        bad_cell_types = ct_counts[ct_counts < 100].index.values
        for cell_type in bad_cell_types:
            idx = np.where((op3_dataset.obs['SMILES'] == smile) & 
                           (op3_dataset.obs['cell_type'] == cell_type) & 
                           (op3_split == 'val'))
            op3_split.iloc[idx] = 'none'
            counts.append(len(idx[0]))

        
for smile in op3_dataset[op3_split == 'test'].obs['SMILES'].unique():
    
    test_subset = op3_dataset[(op3_split == 'test') & (op3_dataset.obs['SMILES'] == smile)]
    ct_counts = test_subset.obs['cell_type'].value_counts()

    if any(ct_counts < 100):  # too few cells in this drug+cell_type group
        print(smile)
        print(ct_counts)
        print('='*20)
        bad_cell_types = ct_counts[ct_counts < 100].index.values
        for cell_type in bad_cell_types:
            idx = np.where((op3_dataset.obs['SMILES'] == smile) & 
                           (op3_dataset.obs['cell_type'] == cell_type) & 
                           (op3_split == 'test'))
            op3_split.iloc[idx] = 'none'
            counts.append(len(idx[0]))

Cc1nc2c(-c3cnc(N)nc3)nc(N3CCOCC3)nc2n1C(C)C
cell_type
B cells          225
Myeloid cells     29
Name: count, dtype: int64
====================
CC[C@@]1(O)C(=O)OCc2c1cc1n(c2=O)Cc2cc3c(CN(C)C)c(O)ccc3nc2-1
cell_type
Myeloid cells    324
B cells          314
T cells           26
Name: count, dtype: int64
====================
CCCCOc1c(C(=O)c2c(F)cc(C)cc2F)cnc2[nH]ncc12
cell_type
Myeloid cells    432
B cells          409
T cells           12
Name: count, dtype: int64
====================
NCCCCN(Cc1nc2ccccc2[nH]1)[C@H]1CCCc2cccnc21
cell_type
Myeloid cells    242
B cells          219
T cells            8
Name: count, dtype: int64
====================
CC(C)c1cc(-c2n[nH]c(=O)n2-c2ccc3c(ccn3C)c2)c(O)cc1O
cell_type
B cells          238
Myeloid cells     29
T cells            1
Name: count, dtype: int64
====================
Cc1cc(-c2nc(-c3ccc(OC(F)(F)F)cc3)no2)nn1Cc1ccnc(N2CCN(C3CC3)CC2)c1
cell_type
B cells          260
Myeloid cells    242
T cells           16
Name: count, dtype: int64
====================
COc1ccc(-c2cc3c(C)nc(N)nc3n([C@H]3CC[C@H](OCCO)CC3)c2=O)cn1
cell_type
B cells          177
Myeloid cells     46
Name: count, dtype: int64
====================
Nc1cccc2c1C(=O)N(C1CCC(=O)NC1=O)C2=O
cell_type
Myeloid cells    340
B cells          290
T cells           16
Name: count, dtype: int64
====================
CCN(CC)CCNC(=O)c1c(C)[nH]c(/C=C2\C(=O)Nc3ccc(F)cc32)c1C
cell_type
B cells          242
Myeloid cells    198
T cells            5
Name: count, dtype: int64
====================
CN1CCN(c2ccc3[nH]c(-c4c(N)c5c(F)cccc5[nH]c4=O)nc3c2)CC1
cell_type
B cells          261
Myeloid cells    170
T cells            4
Name: count, dtype: int64
====================
CCc1ccc(OCc2ccccc2C(=O)Nc2ccc3nc(C)cc(N)c3c2)cc1
cell_type
B cells          96
Myeloid cells    28
Name: count, dtype: int64
====================
CC(C)(C)c1cc(NC(=O)Nc2ccc(-c3cn4c(n3)sc3cc(OCCN5CCOCC5)ccc34)cc2)no1
cell_type
B cells          309
Myeloid cells    271
T cells           12
Name: count, dtype: int64
====================
COc1cc2nccc(Oc3ccc(NC(=O)Nc4cc(C)on4)c(Cl)c3)c2cc1OC
cell_type
Myeloid cells    290
B cells          230
T cells            5
Name: count, dtype: int64
====================
O=C1c2cccc3cccc(c23)C(=O)N1CCCCCC(O)=NO
cell_type
B cells          247
Myeloid cells    102
T cells            2
Name: count, dtype: int64
====================
COc1cc(Nc2ncc(F)c(Nc3ccc4c(n3)NC(=O)C(C)(C)O4)n2)cc(OC)c1OC
cell_type
B cells          247
Myeloid cells     45
Name: count, dtype: int64
====================
COc1cc2ncn(-c3cc(OCc4ccccc4C(F)(F)F)c(C(N)=O)s3)c2cc1OC
cell_type
Myeloid cells    299
B cells          282
T cells            9
Name: count, dtype: int64
====================
CC1(C)CCC(c2ccc(Cl)cc2)=C(CN2CCN(c3ccc(C(=O)NS(=O)(=O)c4ccc(N[C@H](CCN5CCOCC5)CSc5ccccc5)c(S(=O)(=O)C(F)(F)F)c4)cc3)CC2)C1
cell_type
Myeloid cells    265
B cells           50
T cells            6
Name: count, dtype: int64
====================
NNC(=O)c1ccncc1
cell_type
B cells          242
Myeloid cells    216
T cells            5
Name: count, dtype: int64
====================
Cc1onc(C(=O)N2CCN(C(c3ccc(Cl)cc3)c3ccc(Cl)cc3)CC2)c1[N+](=O)[O-]
cell_type
B cells          217
Myeloid cells    208
T cells            7
Name: count, dtype: int64
====================
CN(Cc1cnc2nc(N)nc(N)c2n1)c1ccc(C(=O)N[C@@H](CCC(=O)O)C(=O)O)cc1
cell_type
Myeloid cells    423
B cells          367
T cells            9
Name: count, dtype: int64
====================
O=C(O)[C@]1(Cc2cccc(Nc3nccs3)n2)CC[C@@H](Oc2cccc(Cl)c2F)CC1
cell_type
Myeloid cells    356
B cells          280
T cells            8
Name: count, dtype: int64
====================
Nc1ncnc2c1c(I)cn2[C@@H]1O[C@H](CO)[C@@H](O)[C@H]1O
cell_type
Myeloid cells    156
B cells            8
Name: count, dtype: int64
====================
O=C(c1ccc(OCCN2CCCCC2)cc1)c1c(-c2ccc(O)cc2)sc2cc(O)ccc12
cell_type
B cells          234
Myeloid cells    222
T cells            6
Name: count, dtype: int64
====================
COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23)nc1N
cell_type
Myeloid cells    278
B cells          256
T cells            6
Name: count, dtype: int64
====================
Nc1ncn([C@@H]2O[C@H](CO)[C@@H](O)[C@H]2O)c(=O)n1
cell_type
Myeloid cells    327
B cells          269
T cells           22
Name: count, dtype: int64
====================
Cc1cc(C(C)Nc2ccccc2)c2nc(N3CCOCC3)cc(=O)n2c1
cell_type
B cells          269
Myeloid cells    204
T cells            9
Name: count, dtype: int64
====================
Cc1nc(C#Cc2ccnc(Cl)c2)c(C)n1-c1ccc(F)cc1
cell_type
Myeloid cells    296
B cells          268
T cells           18
Name: count, dtype: int64
====================
COc1cccc(OC)c1-c1ccc(C[C@H](NC(=O)c2c(Cl)cccc2Cl)C(=O)O)cc1
cell_type
Myeloid cells    269
B cells          254
T cells           10
Name: count, dtype: int64
====================
O=C(O)C[C@H](O)C[C@H](O)/C=C/c1c(C2CC2)nc2ccccc2c1-c1ccc(F)cc1
cell_type
B cells          281
Myeloid cells    260
T cells            3
Name: count, dtype: int64
====================
O=C(Nc1cccc(Nc2ncc(Br)c(NCCc3c[nH]cn3)n2)c1)N1CCCC1
cell_type
B cells          218
Myeloid cells    169
T cells            5
Name: count, dtype: int64
====================
O=C(Nc1nc2cccc(-c3ccc(CN4CCS(=O)(=O)CC4)cc3)n2n1)C1CC1
cell_type
B cells          278
Myeloid cells    171
T cells            6
Name: count, dtype: int64
====================
CN(C)CC[C@H](CSc1ccccc1)Nc1ccc(S(=O)(=O)NC(=O)c2ccc(N3CCN(Cc4ccccc4-c4ccc(Cl)cc4)CC3)cc2)cc1[N+](=O)[O-]
cell_type
Myeloid cells    228
B cells           18
T cells           10
Name: count, dtype: int64
====================
CC(C)CCN1c2nc(Nc3cc(F)c(O)c(F)c3)ncc2N(C)C(=O)C1C
cell_type
Myeloid cells    262
B cells          246
T cells            9
Name: count, dtype: int64
====================
Clc1ccc(C2(c3ccc(-c4cn[nH]c4)cc3)CCNCC2)cc1
cell_type
Myeloid cells    367
B cells          348
T cells           47
Name: count, dtype: int64
====================
NC(=O)c1cnc(N[C@@H]2CCCC[C@@H]2N)nc1Nc1cccc(-n2nccn2)c1
cell_type
B cells          225
Myeloid cells     74
T cells            3
Name: count, dtype: int64
====================
CC1=NN(c2ccc(C(=O)O)cc2)C(=O)/C1=C/c1ccc(-c2cc(C)c(C)cc2[N+](=O)[O-])o1
cell_type
Myeloid cells    357
B cells          279
T cells           21
Name: count, dtype: int64
====================
CO[C@@H]1[C@H](N(C)C(=O)c2ccccc2)C[C@H]2O[C@]1(C)n1c3ccccc3c3c4c(c5c6ccccc6n2c5c31)C(=O)NC4
cell_type
Myeloid cells    233
B cells          207
T cells            4
Name: count, dtype: int64
====================
Cc1ccc(NC(=O)c2cccc(C(C)(C)C#N)c2)cc1Nc1ccc2ncn(C)c(=O)c2c1
cell_type
B cells          228
Myeloid cells     77
T cells           10
Name: count, dtype: int64
====================
CNC(=O)c1ccccc1Nc1nc(Nc2ccc3c(c2OC)CCC[C@H](N2CCN(CCO)CC2)C3)ncc1Cl
cell_type
Myeloid cells    422
B cells          337
T cells           10
NK cells           1
Name: count, dtype: int64
====================
O=C1NC(=O)[C@@H](c2cn3c4c(cccc24)CCC3)[C@@H]1c1c[nH]c2ccccc12
cell_type
B cells          217
Myeloid cells    201
T cells           11
Name: count, dtype: int64
====================
Cn1c2ccccc2c2c3c(c4c5ccccc5n(CCC#N)c4c21)CNC3=O
cell_type
B cells          230
Myeloid cells    199
T cells            8
NK cells           1
Name: count, dtype: int64
====================
Cc1ccc(NC(=O)c2ccc(CN3CCN(C)CC3)cc2)cc1Nc1nc(-c2cccnc2)cs1
cell_type
Myeloid cells    312
B cells          268
T cells           16
Name: count, dtype: int64
====================
COc1cc2c(c(OC)c1OC)-c1ccc(OC)c(=O)cc1[C@@H](NC(C)=O)CC2
cell_type
Myeloid cells    261
B cells          147
T cells            2
NK cells           1
Name: count, dtype: int64
====================
O=C(CCCCCCNC(=O)c1cnc(N(c2ccccc2)c2ccccc2)nc1)NO
cell_type
Myeloid cells    345
B cells          295
T cells           10
Name: count, dtype: int64
====================
COc1ccc(C(=O)c2ccccc2)c(O)c1
cell_type
Myeloid cells    287
B cells          249
T cells            9
NK cells           1
Name: count, dtype: int64
====================
Cn1cnc2c(F)c(Nc3ccc(Br)cc3Cl)c(C(=O)NOCCO)cc21
cell_type
B cells          254
Myeloid cells    127
T cells            5
NK cells           1
Name: count, dtype: int64
====================
CC(C)c1c(C(=O)Nc2ccccc2)c(-c2ccccc2)c(-c2ccc(F)cc2)n1CC[C@@H](O)C[C@@H](O)CC(=O)O
cell_type
B cells          267
Myeloid cells    258
T cells            8
Name: count, dtype: int64
====================
CC(C)c1cc(C(=O)N2Cc3ccc(CN4CCN(C)CC4)cc3C2)c(O)cc1O
cell_type
B cells          194
Myeloid cells     12
Name: count, dtype: int64
====================
Clc1ccc2c(c1)CCc1cccnc1C2=C1CCNCC1
cell_type
Myeloid cells    295
B cells          258
T cells            9
Name: count, dtype: int64
====================
N#CC[C@H](C1CCCC1)n1cc(-c2ncnc3[nH]ccc23)cn1
cell_type
B cells          205
Myeloid cells     94
Name: count, dtype: int64
====================
COc1ccc(CCc2nc3cc(-c4c(C)noc4C)ccc3n2C[C@H](C)N2CCOCC2)cc1Cl
cell_type
Myeloid cells    306
B cells          267
T cells           12
Name: count, dtype: int64
====================
Cn1c(=O)cc(N2CCC[C@@H](N)C2)n(Cc2ccccc2C#N)c1=O
cell_type
Myeloid cells    259
B cells          226
T cells            9
Name: count, dtype: int64
====================
CN(C)CCCN1c2ccccc2CCc2ccc(Cl)cc21
cell_type
Myeloid cells    297
B cells          236
T cells            4
Name: count, dtype: int64
====================
CNCCCC1c2ccccc2C=Cc2ccccc21
cell_type
Myeloid cells    268
B cells          220
T cells            4
Name: count, dtype: int64
====================
CCCCC1C(=O)N(c2ccccc2)N(c2ccccc2)C1=O
cell_type
Myeloid cells    321
B cells          313
T cells           23
Name: count, dtype: int64
====================
C1CCC(C(CC2CCCCN2)C2CCCCC2)CC1
cell_type
B cells          226
Myeloid cells     60
T cells            2
Name: count, dtype: int64
====================
Cc1cc(N2CCOCC2)cc2[nH]c(-c3c(NC[C@@H](O)c4cccc(Cl)c4)cc[nH]c3=O)nc12
cell_type
B cells          201
Myeloid cells     53
T cells            1
Name: count, dtype: int64
====================
COc1cc(-c2cc(-c3cccc(O)c3)cnc2N)cc(OC)c1OC
cell_type
Myeloid cells    328
B cells          231
T cells            8
Name: count, dtype: int64
====================
CN(C)CCC(c1ccc(Cl)cc1)c1ccccn1
cell_type
B cells          294
Myeloid cells    269
T cells            3
Name: count, dtype: int64
====================
O=C(c1ccc(Nc2nccc(-c3cc4ccccc4s3)n2)cc1)N1CCC(N2CCCC2)CC1
cell_type
B cells          180
Myeloid cells     67
T cells            1
Name: count, dtype: int64
====================
CCOc1ccn(-c2ccc(F)cc2)c(=O)c1C(=O)Nc1ccc(Oc2ccnc(N)c2Cl)c(F)c1
cell_type
B cells          272
Myeloid cells    197
T cells            8
Name: count, dtype: int64
====================
C=CC(=O)Nc1cccc(Nc2nc(Nc3ccc(OCCOC)cc3)ncc2F)c1
cell_type
B cells          282
Myeloid cells    133
T cells            8
Name: count, dtype: int64
====================
COc1cc(OC)c2c(=O)[nH]c(-c3cc(C)c(OCCO)c(C)c3)nc2c1
cell_type
B cells          242
Myeloid cells    234
T cells            4
Name: count, dtype: int64
====================
CCCCc1oc2ccccc2c1C(=O)c1cc(I)c(OCCN(CC)CC)c(I)c1
cell_type
Myeloid cells    256
B cells          255
T cells            5
Name: count, dtype: int64
====================
CN1CCN(c2ccc(Nc3cc(-c4cccc(-n5ccc6cc(C7CC7)cc(F)c6c5=O)c4CO)cn(C)c3=O)nc2)CC1
cell_type
B cells          226
Myeloid cells    221
T cells            6
Name: count, dtype: int64
====================
CC(=O)N1CCN(c2ccc(OC[C@H]3CO[C@](Cn4ccnc4)(c4ccc(Cl)cc4Cl)O3)cc2)CC1
cell_type
B cells          237
Myeloid cells    175
T cells            7
Name: count, dtype: int64
====================
COc1ccc2cc(-c3[nH]c(-c4ccc([S+](C)[O-])cc4)nc3-c3ccncc3)ccc2c1
cell_type
Myeloid cells    308
B cells          273
T cells            7
Name: count, dtype: int64
====================
CC(C)(C)c1cnc(CSc2cnc(NC(=O)C3CCNCC3)s2)o1
cell_type
B cells          5
Myeloid cells    1
Name: count, dtype: int64
====================
O=C1NC(=O)C(c2cnc3ccccn23)=C1c1cn2c3c(cc(F)cc13)CN(C(=O)N1CCCCC1)CC2
cell_type
Myeloid cells    397
B cells          228
T cells            3
Name: count, dtype: int64
====================
O=C(Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)c1cc(Cl)ccc1O
cell_type
Myeloid cells    140
B cells          132
T cells            2
Name: count, dtype: int64
====================
C/C(=C\c1csc(C)n1)[C@@H]1C[C@@H]2O[C@]2(C)CCC[C@H](C)[C@H](O)[C@@H](C)C(=O)C(C)(C)[C@@H](O)CC(=O)N1
cell_type
B cells          276
Myeloid cells    255
T cells           10
Name: count, dtype: int64
====================
CCCc1nc(C)c2c(=O)[nH]c(-c3cc(S(=O)(=O)N4CCN(CC)CC4)ccc3OCC)nn12
cell_type
Myeloid cells    266
B cells          244
T cells            4
Name: count, dtype: int64
====================
CCN(CC)C(=S)SSC(=S)N(CC)CC
cell_type
B cells          190
Myeloid cells    172
T cells            6
Name: count, dtype: int64
====================
C=CC(=O)Nc1cc2c(Nc3ccc(F)c(Cl)c3)ncnc2cc1OCCCN1CCOCC1
cell_type
B cells          306
Myeloid cells    173
T cells            4
Name: count, dtype: int64
====================
CS(=O)(=O)CCNCc1ccc(-c2ccc3ncnc(Nc4ccc(OCc5cccc(F)c5)c(Cl)c4)c3c2)o1
cell_type
Myeloid cells    358
B cells          334
T cells            8
Name: count, dtype: int64
====================
CC(=O)Nc1cccc(-n2c(=O)n(C3CC3)c(=O)c3c(Nc4ccc(I)cc4F)n(C)c(=O)c(C)c32)c1
cell_type
B cells          309
Myeloid cells    146
T cells            4
Name: count, dtype: int64
====================
Cc1nc(Nc2ncc(C(=O)Nc3c(C)cccc3Cl)s2)cc(N2CCN(CCO)CC2)n1
cell_type
B cells          174
Myeloid cells     47
Name: count, dtype: int64
====================
CC(C)C(=O)Nc1ccc([N+](=O)[O-])c(C(F)(F)F)c1
cell_type
B cells          215
Myeloid cells    210
T cells            2
Name: count, dtype: int64
====================
COc1cc2c(cc1OC(C)C)[C@H](c1ccc(Cl)cc1)N(c1ccc(N(C)C[C@H]3CC[C@H](N4CCN(C)C(=O)C4)CC3)cc1)C(=O)C2
cell_type
B cells          243
Myeloid cells    240
T cells            6
Name: count, dtype: int64
====================
CN1CCC[C@@H]1CCO[C@](C)(c1ccccc1)c1ccc(Cl)cc1
cell_type
B cells          324
Myeloid cells    318
T cells            6
Name: count, dtype: int64
====================
Cc1ccc(NC(=O)c2ccc(CN3CCN(C)CC3)cc2)cc1Nc1nccc(-c2cccnc2)n1
cell_type
Myeloid cells    257
B cells          252
T cells            9
Name: count, dtype: int64
====================
Cn1cncc1[C@@](N)(c1ccc(Cl)cc1)c1ccc2c(c1)c(-c1cccc(Cl)c1)cc(=O)n2C
cell_type
Myeloid cells    312
B cells          235
T cells           17
Name: count, dtype: int64
====================
CC(C)NC(=O)COc1cccc(-c2nc(Nc3ccc4[nH]ncc4c3)c3ccccc3n2)c1
cell_type
Myeloid cells    411
B cells          292
T cells           21
NK cells           1
Name: count, dtype: int64
====================
COc1ccc(C(=O)CC2(O)C(=O)Nc3c(Cl)ccc(Cl)c32)cc1
cell_type
Myeloid cells    327
B cells          269
T cells            5
NK cells           1
Name: count, dtype: int64
====================
Nc1nc2c(cnn2CCc2ccccc2)c2nc(-c3ccco3)nn12
cell_type
Myeloid cells    312
B cells          265
T cells           11
Name: count, dtype: int64
====================
CNC(=O)c1ccc(Nc2ncc(C(F)(F)F)c(NCc3nccnc3N(C)S(C)(=O)=O)n2)cc1
cell_type
B cells          260
Myeloid cells    249
T cells            8
Name: count, dtype: int64
====================
Cc1cn(-c2cc(NC(=O)c3ccc(C)c(Nc4nccc(-c5cccnc5)n4)c3)cc(C(F)(F)F)c2)cn1
cell_type
B cells          203
Myeloid cells    118
T cells            2
Name: count, dtype: int64
====================
CCc1nn(CCCN2CCN(c3cccc(Cl)c3)CC2)c(=O)n1CCOc1ccccc1
cell_type
Myeloid cells    263
B cells          185
T cells           15
Name: count, dtype: int64
====================
O=C1CC2(CCCC2)CC(=O)N1CCCCN1CCN(c2ncccn2)CC1
cell_type
Myeloid cells    460
B cells          299
T cells           22
Name: count, dtype: int64
====================
C=C[C@@]1(C)CC(=O)[C@]2(O)[C@@]3(C)[C@@H](O)CCC(C)(C)[C@@H]3[C@H](O)[C@H](OC(C)=O)[C@@]2(C)O1
cell_type
Myeloid cells    319
B cells          223
T cells           11
NK cells           1
Name: count, dtype: int64
====================
COc1cccc2c1C(=O)c1c(O)c3c(c(O)c1C2=O)C[C@@](O)(C(=O)CO)C[C@@H]3O[C@H]1C[C@H](N)[C@H](O)[C@H](C)O1
cell_type
B cells          185
Myeloid cells    129
T cells            1
Name: count, dtype: int64
====================
FC(F)(F)c1ccc(/C=C/c2nc(COc3ccc(CCCCn4ccnn4)cc3)co2)cc1
cell_type
Myeloid cells    294
B cells          236
T cells           12
Name: count, dtype: int64
====================
CC(=O)NCC(=O)N1[C@@H]2CC[C@H]1c1ccc(Nc3ncc(C(F)(F)F)c(NC4CCC4)n3)cc12
cell_type
B cells          251
Myeloid cells    101
T cells            3
Name: count, dtype: int64
====================
Fc1ccc(C(OCCN2CCN(CCCc3ccccc3)CC2)c2ccc(F)cc2)cc1
cell_type
Myeloid cells    288
B cells          244
T cells           13
Name: count, dtype: int64
====================
O=C(Nc1ccc(OC(F)(F)F)cc1)c1sccc1NCc1ccnc2ccccc12
cell_type
Myeloid cells    330
B cells          264
T cells           23
Name: count, dtype: int64
====================
NC(=O)Nc1sc(-c2ccc(F)cc2)cc1C(N)=O
cell_type
B cells          217
Myeloid cells     43
T cells            2
Name: count, dtype: int64
====================
COc1cc(CCc2cc(NC(=O)c3ccc(N4C[C@@H](C)N[C@@H](C)C4)cc3)[nH]n2)cc(OC)c1
cell_type
B cells          281
Myeloid cells    234
T cells            1
Name: count, dtype: int64
====================
Cc1cccc(-c2[nH]c(C(C)(C)C)nc2-c2ccc3nccnc3c2)n1
cell_type
Myeloid cells    378
B cells          256
T cells           29
Name: count, dtype: int64
====================
COc1ccc(S(=O)(=O)N(C(C)=O)c2ccccc2/C=C/c2cc[n+]([O-])cc2)cc1
cell_type
Myeloid cells    451
B cells          359
T cells           13
Name: count, dtype: int64
====================
Cc1cc(C(=O)NOCCO)c(Nc2ccc(I)cc2F)n(C)c1=O
cell_type
B cells          308
Myeloid cells    109
T cells            2
Name: count, dtype: int64
====================
Cn1cnc(-c2cc3nccc(Oc4ccc(NC(=S)NC(=O)Cc5ccccc5)cc4F)c3s2)c1
cell_type
B cells          243
Myeloid cells    226
T cells            8
Name: count, dtype: int64
====================
COc1cccc(Nc2c(C(N)=O)cnc3c(C)cc(S(=O)(=O)c4cccc(C(=O)N(C)C)c4)cc23)c1
cell_type
Myeloid cells    509
B cells          270
T cells           19
Name: count, dtype: int64
====================
CC(C)C[C@@H](C(=O)N[C@H](C(=O)OC1CCCC1)c1ccccc1)[C@H](O)C(=O)NO
cell_type
Myeloid cells    240
B cells          219
T cells            7
Name: count, dtype: int64
====================
C[C@]12C=CC(=O)C=C1CC[C@@H]1[C@@H]2[C@@H](O)C[C@@]2(C)[C@H]1CC[C@]2(O)C(=O)CO
cell_type
Myeloid cells    271
B cells          226
T cells           16
Name: count, dtype: int64
====================
NC(O)=NO
cell_type
B cells          235
Myeloid cells    221
T cells            5
Name: count, dtype: int64
====================
Nc1ncn([C@H]2C[C@H](O)[C@@H](CO)O2)c(=O)n1
cell_type
Myeloid cells    266
B cells          246
T cells           12
NK cells           1
Name: count, dtype: int64
====================
c1cc(OCCN2CCCCC2)cc(-c2[nH]nc3ccc(-c4nc[nH]n4)cc23)c1
cell_type
Myeloid cells    363
B cells          302
T cells           25
Name: count, dtype: int64
====================
CN1CCN(CCOc2cc(OC3CCOCC3)c3c(Nc4c(Cl)ccc5c4OCO5)ncnc3c2)CC1
cell_type
B cells          253
Myeloid cells    212
T cells            7
Name: count, dtype: int64
====================
CCn1cc(-c2ccnc3[nH]c(-c4cccc(CN(C)C)c4)cc23)c(-c2ccc(NC(=O)N(C)C)cc2)n1
cell_type
Myeloid cells    319
B cells          276
T cells            7
Name: count, dtype: int64
====================
C=C1/C(=C\C=C2/CCC[C@]3(C)[C@@H]([C@H](C)CC[C@@H](O)C(C)C)CC[C@@H]23)C[C@@H](O)C[C@@H]1O
cell_type
Myeloid cells    400
B cells          258
T cells            7
Name: count, dtype: int64
====================
CN(C)Cc1ccc(S(=O)(=O)n2ccc(/C=C/C(=O)NO)c2)cc1
cell_type
B cells          259
Myeloid cells    161
T cells            5
NK cells           1
Name: count, dtype: int64
====================
CCOc1cc(C(C)(C)C)ccc1C1=N[C@@](C)(c2ccc(Cl)cc2)[C@@](C)(c2ccc(Cl)cc2)N1C(=O)N1CCN(CCCS(C)(=O)=O)CC1
cell_type
Myeloid cells    462
B cells          341
T cells            9
Name: count, dtype: int64
====================
CC1(C)CCC(CN2CCN(c3ccc(C(=O)NS(=O)(=O)c4ccc(NCC5CCOCC5)c([N+](=O)[O-])c4)c(Oc4cnc5[nH]ccc5c4)c3)CC2)=C(c2ccc(Cl)cc2)C1
cell_type
Myeloid cells    402

In [27]:
max(counts)

96

In [28]:
op3_split.value_counts()

train    222168
test      44046
val       29933
none       1940
Name: count, dtype: int64

In [29]:
f'{sum(counts)} cells discarded from validation and test splits'

'1940 cells discarded from validation and test splits'

#### saving datafile and split

In [ ]:
op3_split.to_csv('op3_split.csv', header=False)

In [33]:
# check: fixed dose depending on the compounds, so not modelled
op3_dataset.obs[['dose_uM', 'SMILES']].drop_duplicates()

,dose_uM,SMILES
obs_id,,
AAACGAAAGAGCGACT-1_SRTP0006403-0,0.1,O=C(/C=C/c1cccc(S(=O)(=O)Nc2ccccc2)c1)NO
AAACGCTTCATGTCAG-1_SRTP0006403-0,1.0,CC(C)(C)c1nc(-c2cccc(NS(=O)(=O)c3c(F)cccc3F)c2...
AAACCCATCGACGTCG-1_SRTP0006403-0,14.1,C[S+](C)[O-]
AAACCCATCAGCTTCC-1_SRTP0006403-0,1.0,CC(C)c1c(C(=O)Nc2ccccc2)c(-c2ccccc2)c(-c2ccc(F...
AAACGCTAGCGCTGCT-2_SRTP0006404-0,1.0,Cc1nc2c(-c3cnc(N)nc3)nc(N3CCOCC3)nc2n1C(C)C
...,...,...
AAACCCAAGCGCTGAA-12_SRTP0006414-1,1.0,Cc1cc(Nc2ncc(Cl)c(Nc3ccccc3S(=O)(=O)C(C)C)n2)c...
AAAGTCCAGCTATCCA-13_SRTP0006415-1,1.0,COc1cc(Nc2c(C#N)cnc3cc(OCCCN4CCN(C)CC4)c(OC)cc...
AAAGGTAGTCATACCA-14_SRTP0006416-1,1.0,COc1cc2c(Nc3ccc(Br)cc3F)ncnc2cc1OCC1CCN(C)CC1
AAAGAACCAGTCGGTC-15_SRTP0006417-1,1.0,C[C@@H]1C[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4(C)[C...
AAACCCATCGTAACAC-16_SRTP0006418-1,1.0,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1